<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Google Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#explore-header" class="skip-content">skip to content</a>
    <nav>
      <div class="container">
        <h1>CariResto</h1>
        <ul tabindex="-1">
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a href="https://nhardiansa.my.id/" target="_blank">About us</a>
          </li>
        </ul>
        <span class="material-icons hamburger"> menu </span>
      </div>
    </nav>

    <ul class="drawer" tabindex="-1">
      <li><a href="/">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li><a href="https://nhardiansa.my.id/" target="_blank">About us</a></li>
      <span class="material-icons close"> close </span>
    </ul>

    <div class="hero">
      <div class="hero-inner">
        <h1>Cari Resto yang Kece</h1>
        <p>
          Di luar sana banyak restoran dengan berbagai fasilitas yang gak kalah
          keren dari restoran kebanyakan. Cari restoran yang cocok dengan gaya
          kamu lewat CariResto
        </p>
      </div>
    </div>

    <main id="main">
      <h1 id="explore-header" tabindex="0">Explore Resto</h1>
      <div class="resto-list"></div>
    </main>

    <footer>
      <p>Copyright &copy; 2021 | Nabil Hardiansa</p>
    </footer>
  </body>
</html>
