<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#e1651f" />
    <link rel="apple-touch-icon" href="/icons/192.png" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Google Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- manifest -->
    <link rel="manifest" href="manifest.json" />

    <!-- favicon -->
    <link rel="shortcut icon" href="/icons/favicon.png" type="image/x-icon" />

    <!-- font awesom CDN -->
    <script
      src="https://kit.fontawesome.com/bf37b7dde8.js"
      crossorigin="anonymous"
    ></script>

    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#explore-header" class="skip-content">skip to content</a>
    <nav>
      <div class="container">
        <h1>CariResto</h1>
        <ul tabindex="-1">
          <li><a href="#/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a href="https://nhardiansa.my.id/" target="_blank">About us</a>
          </li>
        </ul>
        <button
          class="material-icons hamburger"
          aria-label="menu button"
          tabindex="0"
        >
          menu
        </button>
      </div>
    </nav>

    <ul class="drawer">
      <button
        class="material-icons close"
        aria-label="close button"
        tabindex="0"
      >
        close
      </button>
      <li><a href="#/">Home</a></li>
      <li><a href="#/favorite">Favorite</a></li>
      <li>
        <a href="https://nhardiansa.my.id/" target="_blank" rel="noopener"
          >About us</a
        >
      </li>
    </ul>

    <div class="hero">
      <div class="hero-inner">
        <h2>Cari Resto yang Kece</h2>
        <p>
          Di luar sana banyak restoran dengan berbagai fasilitas yang gak kalah
          keren dari restoran kebanyakan. Cari restoran yang cocok dengan gaya
          kamu lewat CariResto
        </p>
      </div>
    </div>

    <main id="main">
      <div class="favorite-button">
        <button>
          <i class="far fa-star"></i>
          <p>jadikan sebagai favorite</p>
        </button>
      </div>
    </main>

    <footer>
      <p>Copyright &copy; 2021 | Nabil Hardiansa</p>
    </footer>
  </body>
</html>
